BIRD 2.0.0 ready.
2001:4860::/32       unicast [upstream1 2018-01-14 11:50:09] * (100) [AS15169i]
    via fe80:ffff:ffff::1 on eth2
	Type: BGP univ
    BGP.origin: IGP
    BGP.as_path: 15169
    BGP.next_hop: fe80:ffff:ffff::1
    BGP.med: 0
    BGP.local_pref: 500
    BGP.community: (9033,3001) (65000,680)
    BGP.large_community: (48821, 0, 2000) (48821, 0, 2100)
                     unicast [upstream2 2018-01-14 13:07:26 from fe80:ffff:ffff::2] (100/?) [AS15169i]
	via fe80:ffff:ffff::2 on eth3
	Type: BGP univ
	BGP.origin: IGP
    BGP.as_path: 50629 15169
	BGP.next_hop: fe80:ffff:ffff::2
	BGP.med: 71
	BGP.local_pref: 100
	BGP.community: (50629,200) (50629,201)
	BGP.large_community: (48821, 0, 3000) (48821, 0, 3100)
2001:678:1e0::/48    unicast [upstream2 2018-01-15 20:31:39 from fe80:ffff:ffff::2] * (100/?) [i]
	via fe80:ffff:ffff::2 on eth2
	Type: BGP univ
	BGP.origin: IGP
    BGP.as_path: 202739
    BGP.next_hop: 2001:678:1e0::2
    BGP.local_pref: 5000
    BGP.community: (48821,2000) (48821,2100)
    BGP.large_community: (48821, 0, 2000) (48821, 0, 2100)